@using Microsoft.AspNet.Identity
@using Dawaly.Models

@model Dawaly.Models.Place

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-default" style="background-color: black;
      height:60px; padding-left: 15px; padding-right: 15px;">
    <h3 class="panel-heading"> Details Place </h3>
</div>

<div class="panel panel-default" style="background-color:black;
 padding-left:15px;padding-right:15px;padding-bottom:10px;
 padding-top:10px">
    <dl class="dl-horizontal h5 panel-heading" style="text-align-last:left">
        <dt style="height: 40px;">
            Type
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Category.CategortName)
        </dd>
        <dt style="height: 40px;">
            Home
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt style="height: 40px;">
            Details
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Details)
        </dd>
        <dt style="height: 40px;">
            Location
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt style="height: 40px;">
            Price
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt style="height: 50px;">
            Image
        </dt>
        <dd>
            <img src="~/Uploads/@Html.DisplayFor(model => model.Image)"
                 class="thumbnail" style="width:100px ; height:100px;" />
        </dd>

    </dl>
</div>
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("Booking", "Home", FormMethod.Post, new { id = "Booking" }))
    {
        var db = new ApplicationDbContext();
        var CurrentUserID = User.Identity.GetUserId();
        var UserCurrent = db.Users.Where(a => a.Id == CurrentUserID).SingleOrDefault();
        @Html.AntiForgeryToken()
        <div class="col-lg-3">
            @if(UserCurrent.UserType == "user")
            {
                <p>
                    @Html.ActionLink("Booking This Place ? ", "Booking", new { id = Model.Id }, new { @class = "btn btn-primary" })
                </p>
            }
            else if(UserCurrent.Email == "mohamed@gmail.com")
            {
                <p>
                    @Html.ActionLink("Booking This Place ? ", "Booking", new { id = Model.Id }, new { @class = "btn btn-primary" })
                </p>
            }
        <p>
            @Html.ActionLink("Back to Home", "Index")
        </p>
        </div>
    }
}